@font-face
{
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face
{
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.otf');
}

body
{
    line-height: 17px;
    background-color: #fad390;
}

a
{
    color: #20AAE5;
    text-decoration: none;
}

.top_bar
{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #00ffbf;
    border-bottom: 0.25em solid #2ecc71;
    margin: 0px 0px 10px 0px;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a
{
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 150%;
    position: relative;
    top: 10px;
    text-shadow: #ff00bf 0.5px 0.5px 0px;
    color: #ff00bf;
}

a:hover
{
    text-decoration: none;
}

nav
{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a
{
    position: relative;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 5px 0px 5px;
}

nav a:hover
{
    border-bottom: 7px solid #9b59b6;
    color: #000000;
}

.wrapper
{
    margin: 0px auto;
    top: 50px;
    position: relative;
    padding: 0px 10px;
    width: 75%;
    min-width: 950px;
}

.column
{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3d3d3;
    z-index: -1;
}

.userDetails
{
    float: left;
    margin-bottom: 20px;
    width: 180px;
}

.userDetails a
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.userDetailsLeftRight
{
    display: inline-block;
    position: relative;
}

.userDetails img
{
    height: 125 px;
    border-radius: 5px;
    margin-right: 5px;
}

.mainColumn
{
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 60px;
}

.postForm
{
    width: 100%;
}

.postForm textarea
{
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus
{
    outline: 0;
}

.postForm input[type = "submit"]
{
    width: 12.5%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #00ffbf;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: darkviolet 0.5px 0.5px 0px;
    color: darkviolet;
    font-size: 110%;
    position: absolute;
    outline: 0;
    margin: 0;
}

.postForm input[type = "submit"]:active
{
    padding: 5px 4px 4px 5px;
    background-color: #ff00bf;
}

.statusPost
{
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.postProfilePic
{
    float: left;
    margin-right: 7px;
}

.postProfilePic img
{
    border-radius: 5px;
} 

#comment_iframe
{
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.commentSection
{
    padding: 0px 5px 5px 5px;
}

.commentSection img
{
    margin: 0px 3px 3px 3px;
    border-radius: 3px;
}

#commentForm textarea
{
    width: 85%;
    height: 35px;
    border-radius: 5px;
    border-color: #d3d3d3;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#commentForm input[type = "submit"]
{
    border: none;
    background-color: #00ffbf;
    color: #ff00bf;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #ff00bf 0.5px 0.5px 0px;
}

.newsfeedPostOptions
{
    padding: 0px;
    text-decoration: none;
    color: #ff00bf;
    border: none;
}

.newsfeedPostOptions iframe
{
    border: 0px;
    height: 15px;
    width: 120px;
}

.commentLike
{
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #ff00bf;
    padding: 0;
    border-radius: 1px;
    width: auto;
    height: auto;
}

.commentUnlike
{
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #ff00bf;
    padding: 0;
    border-radius: 1px;
    width: auto;
    height: auto;
}

.likeValue
{
    display: inline;
    font-size: 14px;
}

.profileLeft
{
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    /*background-color: #00ffbf;*/
    background-color: #fd79a8;
    /*border-right: 10px solid #2ecc71;*/
    border-right: 10px solid #fd79a8;
    color: #0984e3;
    /*color: #ff00bf;*/
    margin-right: 20px;
}

.profileLeft img
{
    min-width: 80px;
    width: 55%;
    margin: 20px;
    border: 5px solid #e84393;
    border-radius: 100px;
}

.profileInfo
{
    display: list-item;
    /*background-color: #78e08f;*/
    background-color: #fd79a8;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.profileInfo p
{
    margin: 0px 0px 0px 20px;
    word-wrap: break-word;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #00b894 0.5px 0.5px 0px;
}

.danger
{
    background-color: #e74c3c;
}

.warning
{
    background-color: #f0ad4e;
}

.default
{
    background-color: #bdc3c7;
}

.success
{
    background-color: #2ecc71;
}

.info
{
    background-color: #3498db;
}

.deepGreen
{
    background-color: #27ae60;
}

.profileLeft input[type = "submit"]
{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 7px 0px 0px 10px;
    border: none;
    color: #ffffff;
}

#accept_button
{
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    background-color: #2ecc71;
    color: #ffffff;
}

#accept_button:hover
{
    color: #000000;
}

#ignore_button
{
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    background-color: #e74c3c;
    color: #ffffff;
}

#ignore_button:hover
{
    color: #000000;
}

.delete_button
{
    height: 22px;
    width: 22px;
    float: right;
    border-radius: 3px;
    padding: 0px;
    right: -15px;
    position: relative
}

.profileMainColumn
{
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
}

.profileInfoBottom
{
    margin: 10px 0px 0px 7px;
}